{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },

  "globals": {
    "describe": true,
    "it": true
  },

  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
      "arrowFunctions": true,
      "binaryLiterals": true,
      "blockBindings": true,
      "classes": true,
      "defaultParams": true,
      "destructuring": true,
      "forOf": true,
      "generators": true,
      "modules": true,
      "objectLiteralComputedProperties": true,
      "objectLiteralDuplicateProperties": true,
      "objectLiteralShorthandMethods": true,
      "objectLiteralShorthandProperties": true,
      "octalLiterals": true,
      "regexUFlag": true,
      "regexYFlag": true,
      "spread": true,
      "superInFunctions": true,
      "templateStrings": true,
      "unicodeCodePointEscapes": true,
      "globalReturn": true,
      "jsx": true
    }
  },


  "plugins": ["spellcheck"],

  "rules": {
    // Spellcheck
    //
    "spellcheck/spell-checker": ["warn", {
      "comments": true,
      "strings": false,
      "identifiers": true,
      "templates": false,
      "skipWords": [
        // words for propel-notebook
        "propel",
        "Contextify",
        "contextified",
        "vm",
        "transpiler",
        "transpiled",
        "Transpiler",
        "Transpile",
        "Array",
        "Boolean",
        "Date",
        "Error",
        "EvalError",
        "Function",
        "Infinity",
        "JSON",
        "Math",
        "NaN",
        "Number",
        "Object",
        "RangeError",
        "ReferenceError",
        "RegExp",
        "String",
        "SyntaxError",
        "TypeError",
        "URIError",
        "decodeURI",
        "decodeURIComponent",
        "encodeURI",
        "encodeURIComponent",
        "isFinite",
        "isNaN",
        "parseFloat",
        "parseInt",
        "undefined",
        "ArrayBuffer",
        "Atomics",
        "Buffer",
        "DataView",
        "Float32Array",
        "Float64Array",
        "Int16Array",
        "Int32Array",
        "Int8Array",
        "Intl",
        "Map",
        "Promise",
        "Proxy",
        "Reflect",
        "Set",
        "SharedArrayBuffer",
        "Symbol",
        "Uint16Array",
        "Uint32Array",
        "Uint8Array",
        "Uint8ClampedArray",
        "WeakMap",
        "WeakSet",
        "WebAssembly",
        "assert",
        "async_hooks",
        "buffer",
        "clearImmediate",
        "unit",
        "Unit",
        "perf",
        "clearInterval",
        "clearTimeout",
        "cluster",
        "console",
        "crypto",
        "dgram",
        "dns",
        "domain",
        "escape",
        "events",
        "http",
        "http2",
        "https",
        "module",
        "net",
        "os",
        "path",
        "perf_hooks",
        "process",
        "punycode",
        "querystring",
        "readline",
        "repl",
        "require",
        "root",
        "setImmediate",
        "setInterval",
        "setTimeout",
        "stream",
        "string_decoder",
        "tls",
        "tty",
        "unescape",
        "url",
        "util",
        "v8",
        "vm",
        "zlib",
        "__defineGetter__",
        "__defineSetter__",
        "__lookupGetter__",
        "__lookupSetter__",
        "__proto__",
        "constructor",
        "hasOwnProperty",
        "isPrototypeOf",
        "propertyIsEnumerable",
        "toLocaleString",
        "toString",
        "valueOf",
        "_import",
        "callee",
        "nb",
        "qti3e",

        // own names
        // gulp plugin names, node package names etc.
        //
        "analytics",
        "atlassian",
        "autoprefixer",
        "cordova",
        "cssnano",
        "del", // gulp plugin name
        "eslint",
        "github",
        "gmap",
        "gmapgoogle", // in uiGmapgoogle package name
        "gulpfile",
        "htmlmin", // gulp plugin name
        "ionics",
        "ios",
        "iPad",
        "iPads",
        "iPod",
        "iPods",
        "istanbul",
        "lazypipe",
        "localforage",
        "lodash",
        "ng",
        "segmentio",
        "shelljs",
        "splashscreen", // a name of cordova plugin
        "streamqueue", // node package
        "touchspin",
        "uglify",
        "webdriver",


        //file extensions
        "css",
        "html",
        "html",
        "js",
        "jsonp",
        "md",
        "png",
        "scss",
        "tpl",


        // programming gibberish
        "commonjs",
        "addon",
        "addons",
        "arg",
        "args",
        "asc",
        "async",
        "atan",
        "attr",
        "attrs",
        "auth",
        "autocomplete",
        "autoincrement",
        "basename",
        "bcrypt",
        "broadcasted",
        "chainable",
        "cli",
        "clickability",
        "concat",
        "conf",
        "config",
        "configs",
        "const",
        "ctrl",
        "customizer",
        "deregister",
        "deregistered",
        "deregistering",
        "deregistrator",
        "deregistrators",
        "desc",
        "deserialization",
        "deserialize",
        "deserialized",
        "deserializes",
        "dest",
        "destructuring",
        "dev",
        "dir",
        "dirname",
        "dragend",
        "dragstart",
        "el",
        "elem",
        "elems",
        "env",
        "envs",
        "falsy",
        "filename",
        "fn",
        "fns",
        "formatters",
        "fulfillable",
        "fullscreen",
        "getter",
        "hostname",
        "http",
        "https",
        "img",
        "init",
        "initializer",
        "injectable",
        "instantiation",
        "iterable",
        "iteree",
        "laquo",
        "lib",
        "libs",
        "lifecycle",
        "linter",
        "linters",
        "metadata",
        "minified",
        "mixin",
        "mixins",
        "multiselect",
        "nav",
        "noop",
        "param",
        "params",
        "parsers",
        "polyfill",
        "polyfilled",
        "polyfills",
        "popup",
        "prefetch",
        "preload",
        "preloaded",
        "preprocess",
        "preprocessor",
        "preprocessors",
        "preselected",
        "programmatically",
        "proto",
        "px",
        "raquo",
        "reconfiguring",
        "refetch",
        "refetching",
        "ret",
        "rethrows",
        "rgba",
        "runtime",
        "sanitization",
        "serialize",
        "serializer",
        "sha",
        "shorthands",
        "sourcemap",
        "sourcemaps",
        "sqrt",
        "src",
        "stacktrace",
        "subdirectories",
        "subdirectory",
        "subunit",
        "subunits",
        "superset",
        "thanables",
        "thenable",
        "timeline",
        "timestamp",
        "tmp",
        "todo",
        "truthy",
        "typedef",
        "ui",
        "uncomment",
        "unfulfillable",
        "ungroup",
        "ungrouped",
        "unhandled",
        "uniq",
        "unwatch",
        "util",
        "utils",
        "uuid",
        "validator",
        "viewport",
        "webserver",
        "whitelist",
        "whitelisted",
        "www",
        "zindex",
        "api",
        "backend",
        "iso",
        "utc",


        // names provided by external source code dependencies or standard
        // library
        //
        "clusterer", // in Google Map options
        "cwd", // in node api
        "eq", // in jQuery#eq
        "expr", // in uiRouter stateRef.paramExpr
        "extname", // gulp-plugin-rename config option
        "lcov", // name of line coverage format
        "memoize", // in _.memoize
        "nobrowser", // ionic cli flag
        "prev", // in jQuery#prev
        "roadmap", // https://developers.google.com/maps/documentation/javascript/maptypes
        "scrollwheel", // in Google Map options
        "sref", // in [ui-sref]
        "starttag", // a config name in gulp-plugin-inject
        "stringify",  // in JSON.stringify
        "stylers", // https://developers.google.com/maps/documentation/javascript/styling#overview
        "substr", // in String#substr
        "thru",  // in _.thru
        "transclude", // in angular directive
        "transclusion", // in angular directive
        "unshift", // in Array#unshift
        "namespace",


        // Moment.js date format strings
        "YYYY",
        "YY",
        "Y",
        "MM",
        "MMM",
        "MMMM",
        "D",
        "DD",
        "Do",
        "DDD",
        "DDDD",
        "HH",
        "MM",
        "gg",
        "gggg",
        "ww",
        "ss",
        "ss",
        "zz",


        // Lorem ipsum 1st sentence
        "Lorem",
        "ipsum",
        "dolor",
        "sit",
        "amet",
        "consectetur",
        "adipiscing",
        "elit",


        // Related to Google Maps
        //
        "coords", // South-east etc.
        "geocode",
        "geocoder",
        "geocoding",
        "geolocate",
        "geolocated",
        "geolocation",
        "geoposition",
        "lat",
        "lng",
        "ne",
        "nw",
        "se",
        "sublocality",
        "sw",

        // various
        "ness", // -ness suffix
        "pre", // pre- prefix
        "Na", // in NaN - NaN is mishandled by the plugin

        // tests
        "foo",
        "bar",
        "baz",
        "quux"
      ],
      "skipIfMatch": [
        "http(s)?://[^s]*",
        // Auxiliary werbs
        // see: https://github.com/aotaduy/eslint-plugin-spellcheck/issues/7
        "(\\s|^)\\w+'t(\\s|$)",
        // ordinals
        // https://github.com/aotaduy/eslint-plugin-spellcheck/issues/8
        "(\\s|^|\\w+)\\d+(st|nd|rd|th)(\\s|[A-Z][a-zA-Z]+|$)",
        // pre/post prefixes both in kebab case and camel case
        "(\\s|^)(pre|post)([-\\w]|[A-Z])[a-zA-Z]+(\\s|$)",
        // mimetypes
        "^[-\\w]+\/[-\\w\\.]+$",
        // xml tags
        "<(?:\/)?[\\w-]+>",
        // cryptographic octal hashes
        "^[0-9a-f]{5,999}$",
        // hex colors
        "^#[0-9a-f]{3,6}$",
        // words we defenitly know has no meaning
        "^\\w{2}$",
        "Uint\\d+"
      ]
    }],
    //
    //Possible Errors
    //
    // The following rules point out areas where you might have made mistakes.
    //
    "comma-dangle": 2, // disallow or enforce trailing commas
    "no-cond-assign": 2, // disallow assignment in conditional expressions
    "no-console": 0, // disallow use of console (off by default in the node environment)
    "no-constant-condition": 2, // disallow use of constant expressions in conditions
    "no-control-regex": 2, // disallow control characters in regular expressions
    "no-debugger": 2, // disallow use of debugger
    "no-dupe-args": 2, // disallow duplicate arguments in functions
    "no-dupe-keys": 2, // disallow duplicate keys when creating object literals
    "no-duplicate-case": 2, // disallow a duplicate case label.
    "no-empty": 2, // disallow empty statements
    "no-empty-character-class": 2, // disallow the use of empty character classes in regular expressions
    "no-ex-assign": 2, // disallow assigning to the exception in a catch block
    "no-extra-boolean-cast": 2, // disallow double-negation boolean casts in a boolean context
    "no-extra-parens": 0, // disallow unnecessary parentheses (off by default)
    "no-extra-semi": 2, // disallow unnecessary semicolons
    "no-func-assign": 2, // disallow overwriting functions written as function declarations
    "no-inner-declarations": 2, // disallow function or variable declarations in nested blocks
    "no-invalid-regexp": 2, // disallow invalid regular expression strings in the RegExp constructor
    "no-irregular-whitespace": 2, // disallow irregular whitespace outside of strings and comments
    "no-negated-in-lhs": 2, // disallow negation of the left operand of an in expression
    "no-obj-calls": 2, // disallow the use of object properties of the global object (Math and JSON) as functions
    "no-regex-spaces": 2, // disallow multiple spaces in a regular expression literal
    "no-sparse-arrays": 2, // disallow sparse arrays
    "no-unreachable": 2, // disallow unreachable statements after a return, throw, continue, or break statement
    "use-isnan": 2, // disallow comparisons with the value NaN
    "valid-jsdoc": 2, // Ensure JSDoc comments are valid (off by default)
    "valid-typeof": 2, // Ensure that the results of typeof are compared against a valid string

    //
    // Best Practices
    //
    // These are rules designed to prevent you from making mistakes.
    // They either prescribe a better way of doing something or help you avoid footguns.
    //
    "block-scoped-var": 0, // treat var statements as if they were block scoped (off by default). 0: deep destructuring is not compatible https://github.com/eslint/eslint/issues/1863
    "complexity": 0, // specify the maximum cyclomatic complexity allowed in a program (off by default)
    "consistent-return": 2, // require return statements to either always or never specify values
    "curly": 2, // specify curly brace conventions for all control statements
    "default-case": 2, // require default case in switch statements (off by default)
    "dot-notation": 2, // encourages use of dot notation whenever possible
    "eqeqeq": 2, // require the use of === and !==
    "guard-for-in": 2, // make sure for-in loops have an if statement (off by default)
    "no-alert": 2, // disallow the use of alert, confirm, and prompt
    "no-caller": 2, // disallow use of arguments.caller or arguments.callee
    "no-div-regex": 2, // disallow division operators explicitly at beginning of regular expression (off by default)
    "no-else-return": 2, // disallow else after a return in an if (off by default)
    "no-eq-null": 2, // disallow comparisons to null without a type-checking operator (off by default)
    "no-eval": 0, // allow use of eval() in this project
    "no-extend-native": 2, // disallow adding to native types
    "no-extra-bind": 2, // disallow unnecessary function binding
    "no-fallthrough": 2, // disallow fallthrough of case statements
    "no-floating-decimal": 2, // disallow the use of leading or trailing decimal points in numeric literals (off by default)
    "no-implied-eval": 2, // disallow use of eval()-like methods
    "no-iterator": 2, // disallow usage of __iterator__ property
    "no-labels": 2, // disallow use of labeled statements
    "no-lone-blocks": 2, // disallow unnecessary nested blocks
    "no-loop-func": 2, // disallow creation of functions within loops
    "no-multi-spaces": 2, // disallow use of multiple spaces
    "no-multi-str": 2, // disallow use of multiline strings
    "no-native-reassign": 2, // disallow reassignments of native objects
    "no-new": 2, // disallow use of new operator when not part of the assignment or comparison
    "no-new-func": 2, // disallow use of new operator for Function object
    "no-new-wrappers": 2, // disallows creating new instances of String,Number, and Boolean
    "no-octal": 2, // disallow use of octal literals
    "no-octal-escape": 2, // disallow use of octal escape sequences in string literals, such as var foo = "Copyright \251";
    "no-process-env": 2, // disallow use of process.env (off by default)
    "no-proto": 2, // disallow usage of __proto__ property
    "no-redeclare": 2, // disallow declaring the same variable more then once
    "no-return-assign": 2, // disallow use of assignment in return statement
    "no-script-url": 2, // disallow use of javascript: urls.
    "no-self-compare": 2, // disallow comparisons where both sides are exactly the same (off by default)
    "no-sequences": 2, // disallow use of comma operator
    "no-throw-literal": 2, // restrict what can be thrown as an exception (off by default)
    "no-unused-expressions": 2, // disallow usage of expressions in statement position
    "no-void": 2, // disallow use of void operator (off by default)
    "no-warning-comments": [0, {"terms": ["todo", "fixme"], "location": "start"}], // disallow usage of configurable warning terms in comments": 2, // e.g. TODO or FIXME (off by default)
    "no-with": 2, // disallow use of the with statement
    "radix": 2, // require use of the second argument for parseInt() (off by default)
    "vars-on-top": 2, // requires to declare all vars on top of their containing scope (off by default)
    "wrap-iife": 2, // require immediate function invocation to be wrapped in parentheses (off by default)
    "yoda": 2, // require or disallow Yoda conditions

    //
    // Strict Mode
    //
    // These rules relate to using strict mode.
    //
    "strict": 0, // controls location of Use Strict Directives. 0: required by `babel-eslint`

    //
    // Variables
    //
    // These rules have to do with variable declarations.
    //
    "no-catch-shadow": 2, // disallow the catch clause parameter name being the same as a variable in the outer scope (off by default in the node environment)
    "no-delete-var": 2, // disallow deletion of variables
    "no-label-var": 2, // disallow labels that share a name with a variable
    "no-shadow": 2, // disallow declaration of variables already declared in the outer scope
    "no-shadow-restricted-names": 2, // disallow shadowing of names such as arguments
    "no-undef": 2, // disallow use of undeclared variables unless mentioned in a /*global */ block
    "no-undef-init": 2, // disallow use of undefined when initializing variables
    "no-undefined": 2, // disallow use of undefined variable (off by default)
    "no-unused-vars": 2, // disallow declaration of variables that are not used in the code
    "no-use-before-define": 2, // disallow use of variables before they are defined

    //
    //Stylistic Issues
    //
    // These rules are purely matters of style and are quite subjective.
    //
    "indent": [1, 2], // this option sets a specific tab width for your code (off by default)
    "brace-style": 1, // enforce one true brace style (off by default)
    "camelcase": 1, // require camel case names
    "comma-spacing": [1, {"before": false, "after": true}], // enforce spacing before and after comma
    "comma-style": [1, "last"], // enforce one true comma style (off by default)
    "consistent-this": [1, "_this"], // enforces consistent naming when capturing the current execution context (off by default)
    "eol-last": 1, // enforce newline at the end of file, with no multiple empty lines
    "func-names": 0, // require function expressions to have a name (off by default)
    "func-style": 0, // enforces use of function declarations or expressions (off by default)
    "key-spacing": [1, {"beforeColon": false, "afterColon": true}], // enforces spacing between keys and values in object literal properties
    "max-nested-callbacks": [1, 3], // specify the maximum depth callbacks can be nested (off by default)
    "new-cap": [1, {newIsCap: true, capIsNew: false}], // require a capital letter for constructors
    "new-parens": 1, // disallow the omission of parentheses when invoking a constructor with no arguments
    "newline-after-var": 0, // allow/disallow an empty newline after var statement (off by default)
    "no-array-constructor": 1, // disallow use of the Array constructor
    "no-inline-comments": 1, // disallow comments inline after code (off by default)
    "no-lonely-if": 1, // disallow if as the only statement in an else block (off by default)
    "no-mixed-spaces-and-tabs": 1, // disallow mixed spaces and tabs for indentation
    "no-multiple-empty-lines": [1, {"max": 2}], // disallow multiple empty lines (off by default)
    "no-nested-ternary": 1, // disallow nested ternary expressions (off by default)
    "no-new-object": 1, // disallow use of the Object constructor
    "no-spaced-func": 1, // disallow space between function identifier and application
    "no-ternary": 0, // disallow the use of ternary operators (off by default)
    "no-trailing-spaces": 1, // disallow trailing whitespace at the end of lines
    "no-underscore-dangle": 1, // disallow dangling underscores in identifiers
    "one-var": [1, "never"], // allow just one var statement per function (off by default)
    "padded-blocks": [1, "never"], // enforce padding within blocks (off by default)
    "quote-props": [1, "as-needed"], // require quotes around object literal property names (off by default)
    "quotes": [1, "single"], // specify whether double or single quotes should be used
    "semi": [1, "always"], // require or disallow use of semicolons instead of ASI
    "semi-spacing": [1, {"before": false, "after": true}], // enforce spacing before and after semicolons
    "sort-vars": 0, // sort variables within the same declaration block (off by default)
    "keyword-spacing": ["error", { "overrides": {
  "if": { "after": false },
  "for": { "after": false },
  "while": { "after": false }
} }], // require a space after certain keywords (off by default)
    "space-before-blocks": [1, "always"], // require or disallow space before blocks (off by default)
    "space-before-function-paren": [1, {"anonymous": "always", "named": "never"}], // require or disallow space before function opening parenthesis (off by default)
    "object-curly-spacing": [1, "never"], // require or disallow spaces inside brackets (off by default)
    "array-bracket-spacing": [1, "never"],
    "computed-property-spacing": [1, "never"],
    "space-in-parens": [1, "never"], // require or disallow spaces inside parentheses (off by default)
    "space-infix-ops": [1, {"int32Hint": false}], // require spaces around operators
    "space-unary-ops": [1, {"words": true, "nonwords": false}], // Require or disallow spaces before/after unary operators (words on by default, nonwords off by default)
    "spaced-comment": [1, "always"], // require or disallow a space immediately following the // in a line comment (off by default)
    "wrap-regex": 0, // require regex literals to be wrapped in parentheses (off by default)

    //
    // ECMAScript 6
    //
    // These rules are only relevant to ES6 environments and are off by default.
    //
    "no-var": 2, // require let or const instead of var (off by default)
    "generator-star-spacing": [2, "before"], // enforce the spacing around the * in generator functions (off by default)

    //
    // Legacy
    //
    // The following rules are included for compatibility with JSHint and JSLint.
    // While the names of the rules may not match up with the JSHint/JSLint counterpart,
    // the functionality is the same.
    //
    "max-depth": [2, 3], // specify the maximum depth that blocks can be nested (off by default)
    "max-len": [2, 100, 2], // specify the maximum length of a line in your program (off by default)
    "max-params": [2, 5], // limits the number of parameters that can be used in the function declaration. (off by default)
    "max-statements": 0, // specify the maximum number of statement allowed in a function (off by default)
    "no-bitwise": 0, // disallow use of bitwise operators (off by default)
    "no-plusplus": 2, // disallow use of unary operators, ++ and -- (off by default)
  }
}
